.header{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    

}

.hamburger {
    display: none;
    position: absolute; top: 10px; right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;}

.side-menu {
position: fixed;
top: 0;
right: -250px;
width: 250px;
height: 100%;
background-color: white;
box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
transition: right 0.3s ease-in-out;
display: flex;
flex-direction: column;
padding: 20px;
z-index: 1000;
}

.side-menu .close-button {
background: none;
border: none;
font-size: 20px;
align-self: flex-end;
cursor: pointer;
}

.side-menu .menu-items button {
display: block;
width: 100%;
text-align: left;
padding: 10px;
border: none;
background: none;
cursor: pointer;
}

@media screen and (max-width: 768px) {
.menus {
    display: none;
}
.hamburger {
    display: block;
}
}

@media screen and (min-width: 769px) {
.side-menu {
    display: none;
}
}

.header svg{
    width: 500px;

}

.menus{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 0 7px;
    border-top: 1px solid rgb(235, 235, 235);
    border-bottom: 7px double black;
    
}

.menus button{
    border: none;
    background: none;
    margin: 7px;
}

.menus button:hover{
    background-color: lightgrey;
}

.col-lg-4 {
    display: flex;
    align-items: stretch;
}

.col-lg-8 {
    display: flex;
    flex-direction: column;
}

.news-img-size{
    width: 100%;
    max-height: 300px;
    padding-top: 2px;
    padding-bottom:2px;
    position: relative;
    z-index: 1;
    
}

.news{
    border-bottom: 2px solid #000000;
    display: flex;
    align-items: stretch;
}

#news-board {
    display: block !important;
    visibility: visible !important;
}

.no-results {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(202, 39, 39);
}


.search-container {
    display: flex;
    justify-content: start;
    margin: 20px 0;
}

#search-input {
    width: 250px;
    padding: 5px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}
#search-input:focus {
    border-color: lightgrey;
}

#search-button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor:pointer;
    transition: 0.3s;
}

#search-button:hover {
    background-color: lightgrey;
    transform: scale(1.1);}
